.CarouselContainer {
    background-color: #ffffff;
}

.boxWrapper {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    // min-height: 100px;
}

.image {
    width: 50px;
    height: 50px;
}

.label {
    font-size: 18px;
    font-weight: 600;
}

.price {
    font-size: 17px;
}