.box {
    background-color: #516EFF;
    font-size: 1.7rem;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: .5rem;
    border: 0.1rem solid #516EFF;
    color: white;
    font-weight: lighter !important;

    

}
.seperator {
    font-size: 1.8rem;
    margin: 0 .5rem;
}