.cardWrapper {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 99%;
    max-height: 99%;
}

.title {
    font-size: 20px;
    font-weight: 600;
    text-align: right;
}

.label {
    font-size: 17px;
    text-align: right;
}

.price {
    font-size: 19.5px;
    font-weight: bold;
    text-align: right;
}


.image {
    width: 100px;
    height: auto;
}

