.title {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}
.container {
    position: absolute;
    top: 70% ;
    left: 20% ;
}

@media screen and (max-width: '850px') {
    .title {
        font-size: 45px;
        font-weight: bold;
        text-align: center;
    }

    .container {
        position: absolute;
        top: 45% ;
        left: 10% ;
    }
}

@media screen and (max-width: '646px') {
    .title {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }

    .container {
        position: absolute;
        top: 45% ;
        left: 10% ;
    }
}